.App {
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 273px;
  margin: 0 auto;
}

.square {
  background: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 8px;
  height: 20px;
  width: 20px;
}

.square.on {
  background: red;
}
